cds_task_christoph/*
.here
.snakemake/
*.pdf
*.gtf
*.bed
*.RDS
slurm-*.out
pipeliner.*.cmds
transcriptome.clean.fa.transdecoder.*
cds_source/
compared/
config/
data/
fasta/
images/
logs/
mappings/
stringtie_each/
stringtie_merge/
stringtie_mix/
mappings_selected/
nanopore_transcript/
phase_final_dge.R
results/
salmon/
scripts/
transdecoder.__checkpoints/
transdecoder.__checkpoints_longorfs/
transdecoder/
workflow/.snakemake/
*.out
*.error
*DS_Store
