.DS_Store
*.cmds
.snakemake/*
mappings/*
mappings_selected/*
ref.clean.gtf
stringtie_each/*
stringtie_merge//*
stringtie_merge/*
stringtie_merge/*
transdecoder/*
transdecoder_old/*
workflow/.snakemake/
._.DS_Store
*.Rdata
compared/*
transdecoder.*
stringtie_mix/*
fasta/*
logs/*
salmon/*
